<!-- Image -->
  <section class="hero ">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <figure class="image is-16by10">
              <a href="/post/{{posts.0.0.id}}"><img src="../images/first-post.jpg" alt="circle"></a>
            </figure>
          </div>
        </div>
        <section class="section">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <div class="content is-medium">
                <h2 class="subtitle is-4 has-text-black">{{format_time posts.0.0.createdAt}}</h2>
                <h1 class="title has-text-black"><a href="/post/{{posts.0.0.id}}">{{posts.0.0.title}}</a></h1>
                <h6 class="has-text-black">by {{posts.0.0.user.username}}</h6>
                <p class="has-text-black">{{posts.0.0.content}}</p>
              </div>
            </div>
          </div>
        </section>
        <div class="is-divider">This application will allow you to create post related to technology topics. You can also add comments on each post. You cannot access the the website features unless you'd sign-up or logged-in.</div>
      </div>
    </div>
  </section>
  <!-- Articles -->
  <section class="hero ">
    <div class="hero-body-neg">
      <div class="container">
        {{#each posts as |post|}}
          {{#if @first}}
            <!-- Don't post 1st one because it goes up top -->
          {{else}}
           {{> post-summary}}
          {{/if}}
        {{/each}}
      </div>
    </div>
  </section>
  <script src='/js/index.js'></script>